html, body {
  height: 100%;
}
body {
  background-color: #eef4f7;
  display: flex;
  flex-flow: column;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://allout.org/themes/allout2017/images/home/blue_lines.png");
  margin-top: auto;
  height: 7%;
}



textarea {
  resize: none;
}

label {
  font-weight: 800;
}
